@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0%;
    padding: 0%;
    height: 3000px;
}
nav{
    height:45px ;
    background-color:rgba(0, 0, 0, 0.603);

    width: auto;
 
}

.img-1{
    height: 42px;
    width: 41px;
    position: absolute;
    top: 2px;
    left: 10px;
    border-radius: 80px;
}


nav a:hover{
    color:black;
    background-color:white;
}
nav a.active{
    color:black;
    background-color:white;
}
ul li{
    list-style:none ;
}

li a{
    position: relative;
    height: 2px;
    left: 39px;
    padding: 11px 7px;
 

}
li a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
    top: 10px;
}
ul{
    position: absolute;
    top: -1%;
    left: 15%;
    transform: translate(-41%, -36%);
    display: flex;
}
li a:hover{
    background: white;
    color: black;
}


li.active a{

    color: black;
}


.img-2:hover{
    background: white;
}
.call-img-1{
    height: 30px;
    position: absolute;
    top: 8px;
    right: 398px;
    cursor: pointer;
}
.phone a{
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: white;
    position: absolute;
    top: 9px;
    right: 254px;
    text-decoration: none;
}
    